<% include ../partials/head %>

<% include ../partials/dialogs %>
<section class="sample-content">
    <h2>Load from Folder</h2>
    <p class="subhead mdl-color-text--grey-700">Load photos into your photo frame from your Google Photos albums.</p>
    <button onclick="addAlbum()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Add Album</button>

    <ul class="mdl-list" id="albums"></ul>
</section>



<% include ../partials/js %>
<script src="/js/uploadAlbums.js"></script>

<% include ../partials/footer %>
